In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
data = pd.read_csv('housing.csv')

In [3]:
data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
data.dropna(inplace=True)

In [12]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 20433 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20433 non-null  float64
 1   latitude            20433 non-null  float64
 2   housing_median_age  20433 non-null  float64
 3   total_rooms         20433 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20433 non-null  float64
 6   households          20433 non-null  float64
 7   median_income       20433 non-null  float64
 8   median_house_value  20433 non-null  float64
 9   ocean_proximity     20433 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.7+ MB

In [16]:
from sklearn.model_selection import train_test_split
import scipy.linalg


X = data.drop(['median_house_value'], axis=1)
y = data['median_house_value']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
train_data = X_train.join(y_train)

In [21]:
train_data

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,ocean_proximity,median_house_value
18239,-122.10,37.40,23.0,514.0,210.0,367.0,206.0,3.1736,NEAR BAY,181300.0
11693,-117.99,33.86,20.0,2303.0,612.0,1607.0,564.0,2.9000,<1H OCEAN,176100.0
8562,-118.41,33.92,38.0,1437.0,272.0,590.0,250.0,5.2338,<1H OCEAN,358000.0
15273,-117.28,33.06,8.0,4172.0,1022.0,2585.0,941.0,4.0118,NEAR OCEAN,245800.0
5889,-118.34,34.15,40.0,3068.0,756.0,1190.0,695.0,3.5637,<1H OCEAN,497400.0
...,...,...,...,...,...,...,...,...,...,...
14350,-117.21,32.74,45.0,3025.0,583.0,1980.0,550.0,2.2982,NEAR OCEAN,87500.0
12486,-121.48,38.57,47.0,2438.0,804.0,1148.0,747.0,1.4301,INLAND,141700.0
16945,-122.32,37.55,44.0,2151.0,411.0,849.0,370.0,4.4583,NEAR OCEAN,397100.0
15177,-117.07,33.04,4.0,2271.0,578.0,926.0,391.0,3.6437,<1H OCEAN,210100.0
18959,-122.04,38.25,37.0,1176.0,291.0,648.0,271.0,2.7167,INLAND,92200.0